<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleName</key>
        <string>GarthImgLab</string>
        <key>CFBundleExecutable</key>
        <string>GarthImgLab</string>
        <key>CFBundleIdentifier</key>
        <string>com.garthtb.garthimglab</string>
        <key>CFBundleVersion</key>
        <string>0.0.0</string>
        <key>CFBundleShortVersionString</key>
        <string>0.0.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleIconFile</key>
        <string>icon</string>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright (c) 2026 Garth TB | 天卜</string>
        <key>LSMinimumSystemVersion</key>
        <string>14.0</string>
        <key>NSHighResolutionCapable</key>
        <true/>
    </dict>
</plist>
